// Variables

$primary-color: #ac7088;
$secondary-color: #deb6ab;
$delete-color: #e97777;
$add-color: #829460;
$warning-color: #632626;

// Base CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $secondary-color;
}

.container {
  width: 80%;
  margin: 0 auto;
}

// button css  

.btn {
  text-align: center;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.add-btn {
  background-color: $add-color;
  &:hover {
    background-color: lighten($add-color, 18);
  }

}

.primary-btn {
  background-color: $primary-color;
  &:hover {
    background-color: lighten($primary-color, 18);
  }
}
#main-header {
  width: 100%;
  margin: 10px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;

  .title {
    color: rgb(37, 37, 37);
  }
}
.fa-circle-check {
  color: $warning-color;
  font-size: 50px;
  padding: 0 !important;
}
  


// task input

#task-input {
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
  gap: 10px;

  #input {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 92%;
  }
}

//task-filter

#task-filter {
  margin: 20px 0;
}

// To-do-list

#to-do-list {
  list-style: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
      .task {
        background-color: #aacb73;
        margin: 5px 0;
        padding: 10px;
        font-weight: bold;
        transition: 0.5s;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        &:hover {
          background-color: #cfe7a8;
        }
        .task-content {
          display: flex;
          flex: 15;
          .task-value {
            border: none;
            outline: none;  
            background-color: transparent;
            width: 100%;
            appearance: none;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            word-break: break-all;
            text-transform: uppercase;
            }  
        }
        .task-action {
          display: flex;
          flex: 1;
          span {
            margin-left: 8px;
            font-size: 20px;
            color: #333;
          }
        }
      }
}





