// Variables

$primary-color: #ac7088;
$secondary-color: #deb6ab;
$delete-color: #e97777;
$add-color: #829460;
$warning-color: #632626;

// Base CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $secondary-color;
}

.container {
  width: 80%;
  margin: 0 auto;
}

// button css

.btn {
  text-align: center;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.add-btn {
  background-color: $add-color;
  &:hover {
    background-color: lighten($add-color, 18);
  }

}

#header {
  width: 100%;
  margin: 10px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;

  .title {
    color: rgb(37, 37, 37);
  }
}
.fa-circle-check {
  color: $warning-color;
  font-size: 50px;
  padding: 0 !important;
}
  


// task input

#task-input {
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;

  #input {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 92%;
  }
}



// To-do-list

#to-do-list {
  list-style: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
      .task {
        background-color: #aacb73;
        margin: 5px 0;
        padding: 10px;
        font-weight: bold;
        transition: 0.5s;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
          background-color: #cfe7a8;
        }
        .task-text {
          width: 93%;
          word-wrap: break-word;
          text-align: justify;
        } 
      }
}

.task-content {
  width: 85%;
  display: flex;
}
#task-value {
border: none;
outline: none;  
background-color: transparent;
width: 100%;
appearance: none;
font-family: "Roboto", sans-serif;
font-size: 15px;
word-break: break-all;
}  
